/*简单清除默认样式*/
* {
  margin: 0;
  padding: 0;
}

/*动画关键帧，翻滚吧！*/
@keyframes move {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(720deg) rotateY(360deg) rotateZ(360deg);
  }
}

/*渐变的背景色*/
html {
  /* background: linear-gradient(#29f9f0 0%, #000 80%); */
  background: #ccc;
  height: 100%;
}

body { 
  height: 100%;
  overflow: hidden;
} 

div.cube-wrap {
  /*margin-top: 200px;
  上外边距设置
  width: 200px;*/
  /*给他一个宽度*/
  perspective: 1000px;
  /*景深设置，视图距元素的距离  相当于摄像机*/
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.cube-wrap>div.cube {
  width: 160px;
  /*box设置宽度200像素*/
  height: 72px;
  /*设置高度200像素*/
  position: relative;
  /*开启相对定位，好让里面的元素开启定位时不会高度塌陷*/
  transform-style: preserve-3d;
  /*开启这个，表示所有元素在3D平面呈现*/
  transform: rotateX(-72deg) rotateY(0deg) rotateZ(0deg);
  /*一开始的角度，视觉上看一下*/
  /* animation: move 8s infinite linear; */
  /*启动动画的名字、时长、无限循环、匀速播放*/
}

/*大的正方体的设置*/
.cube>div {
  width: 100%;
  /*设置的宽度和父级一样*/
  height: 100%;
  /*设置的高度一样*/
  border: 2px solid #66daff;
  /*边框设置*/
  /* border-radius: 20px; */
  /*设置一下圆角*/
  position: absolute;
  /*开启绝对定位，这样就全部叠在一起了*/
  transition: transform 0.3s ease-in;
  /*过度变形的时间设置和快慢设置*/
}

/*设置大的正方体的六个面的位置*/
.cube div.out-front {
  transform: translateZ(36px);
  /*设置前面的那一面的Z轴往前移*/
}

.cube div.out-back {
  transform: translateZ(36px) rotateY(180deg);
  /*设置后面的那一面的Z轴往后移，Y轴转一下。使得的背面的那一面是面向背面的*/
}

.cube div.out-left {
  width: 72px;
  transform: translateX(-36px) rotateY(-90deg);
  /*设置左边的那一面在X轴上退一些，向左转*/
}

.cube div.out-right {
  width: 72px;
  transform: translateX(124px) rotateY(90deg);
  /*设置右边的那一面在X轴上进一些，向右转*/
}

.cube div.out-top {
  transform: translateY(-36px) rotateX(90deg);
  /*设置上边的那一面在Y轴上去一些，向后翻转*/
}

.cube div.out-bottom {
  transform: translateY(36px) rotateX(-90deg);
  /*设置下边的那一面在X轴下去一些，向前翻*/
}
